body { 
    align-items: center;
   justify-content: center;
   background-color: white;
} 

body h1{
   padding-left : 2%;
   font-size : calc(2rem + 3vw);
   font-stretch: 1rem;
   font-weight: bold;
   font-family: "-apple-system","system-ui","BlinkMacSystemFont","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

p{
   align-items: center;
   justify-content: center;
   padding-right: 10%;
   padding-left: 10%;
   padding-top:10%;
   padding-bottom: 15%;
}

.menu_burger{
   
    padding-left: 0%;

}

.menu_burger img{
    position: absolute;
    position: fixed;
    top: 0%;
    right: 0%;
    width:5%;
    height:auto;
}

form{
    padding-left:7%;
    padding-right:8%;
}

.bouton{
    border: none;
    color: white;
    padding: 3% 20%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    cursor: pointer;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 110%;
    border-radius: 10px;
}

.gradient{
    background: linear-gradient(70deg,  orange, blueviolet);
}

.point{
    list-style-type:none;
    border-radius: 10px;
}

.form-control{
    border-style: solid;
    border-width: 2px;
    border-color:violet;
}

.contD {
    text-align:center;
}

.imageflottante{
    float: left;
    width:20%;
    height:20%;
    margin-top:5%;
}

.boule{
    position: relative;
    position: fixed;
    top: 90%;
    bottom: 5%;
    right: 0%;
    width:5%;
    height:auto;
    margin-bottom: 5%;
}